<div class="w-full flex justify-between py-3">
  <div class="w-50%">
    <div class="h-max w-full relative bg-gray-100">
      <button
        class="bg-white absolute z-10 top-[50%] left-4 h-[30px] w-[30px] flex justify-center items-center rounded-full px-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down inline rotate-90"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </button>
      <img
        src="https://loremflickr.com/640/360"
        class="max-w-full object-cover rounded-md block h-[270px] w-[550px]"
        alt=""
      />
      <ul
        class="bg-white py-2 px-3 rounded-lg absolute bottom-3 left-[48%] z-10 flex gap-2"
      >
        <li class="h-[7px] w-[7px] rounded-full bg-black"></li>
        <li class="h-[7px] w-[7px] rounded-full bg-gray-300"></li>
        <li class="h-[7px] w-[7px] rounded-full bg-gray-300"></li>
      </ul>
      <button
        class="bg-white absolute z-10 top-[50%] right-4 h-[30px] w-[30px] flex justify-center items-center rounded-full px-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down inline -rotate-90"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </button>
    </div>
  </div>
  <div class="w-[50%]">
    <h1 class="bg-gray-200 rounded-sm flex justify-start p-2 mb-4">
      Checkout details
    </h1>
    <div class="relative">
      <input
        type="text"
        class="py-2 bg-white border border-gray-300 w-full rounded-sm p-2"
        placeholder="Enter Discount Code"
      />
      <button
        class="bg-green-100 text-green-700 p-1 absolute ml-[-3.5rem] mt-1 rounded-sm"
      >
        Apply
      </button>
    </div>
    <div class="py-2 text-gray-700">
      <div class="flex text-md justify-between py-2">
        <h1>Taxes</h1>
        <h1>$50.00</h1>
      </div>
      <div class="flex text-md justify-between py-2">
        <h1>Taxes</h1>
        <h1>$50.00</h1>
      </div>
      <div class="flex text-md justify-between pb-3">
        <h1>Insurance</h1>
        <h1>$50.00</h1>
      </div>
      <div
        class="flex text-md justify-between py-3 border-t border-gray-200 text-black text-md font-semibold"
      >
        <h1>Total</h1>
        <h1>$330.00</h1>
      </div>
    </div>
    <h1 class="bg-gray-200 flex justify-start p-2 mb-2">Shipping details</h1>
    <div class="flex justify-between border-b border-gray-200">
      <h1 class="text-gray-700 py-3 text-md">Shipping status</h1>
      <h1 class="text-[#ffa500] text-sm">Order Placed</h1>
    </div>
  </div>
</div>
