<div>
  <div class="flex flex-row gap-5">
    <div class="border-2 border-gray-300 p-1 rounded-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="gray"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="3"
      >
        <polyline points="15 18 9 12 15 6" />
      </svg>
    </div>
    <div class="gap-2 flex flex-col">
      <h1 class="text-black-200 text-normal text-[24px]">Back</h1>
    </div>
  </div>
  <h1 class="py-4 font-bold text-[20px] text-black-200 mt-2">
    PRODUCT TITLE IN CAPS
  </h1>
  <h1 class="font-normal text-[20px] text-black-200">Order NO MN-88949</h1>
  <p class="bg-blue-400 h-[3px] w-[87px]"></p>
</div>
